<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="recaptcha_frontend">
            <group id="type_for" showInStore="1">
                <field id="custom_note_enabled" translate="label" type="select" sortOrder="1200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Custom Captcha Note</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_class>cs-csfeature__logo</frontend_class>
                    <comment>
                        <![CDATA[Custom note will work only for "invisible" recaptcha types and will replace default badge.]]>
                    </comment>
                </field>
                <field id="custom_note_text" translate="label" type="textarea" sortOrder="1300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Captcha Note</label>
                    <frontend_class>cs-csfeature__logo</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>
